n8n/workflows/auto-post-twitter.json
{
  "name": "Auto-Post to Twitter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-published",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Product Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "product-published"
    },
    {
      "parameters": {
        "jsCode": "// Format tweet text from product data\nconst product = $input.item.json;\n\nconst tweet = `🔥 New Content Pack Available!\n\n${product.name}\n\n${product.description?.substring(0, 100)}...\n\n💰 $${product.price}\n\n🔗 ${process.env.FETISHVERSE_URL}/products/${product.slug}\n\n#NSFW #AdultContent #FetishVerse`;\n\nreturn {\n  json: {\n    text: tweet,\n    product: product\n  }\n};"
      },
      "id": "format-tweet",
      "name": "Format Tweet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "reply": {}
        }
      },
      "id": "post-tweet",
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1.1,
      "position": [650, 300],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "twitter-credentials",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"tweet_id\": $json.id_str } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "products",
        "updateKey": "id",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "twitter_posted": true,
            "twitter_post_id": "={{ $('Post Tweet').item.json.id_str }}"
          }
        }
      },
      "id": "update-database",
      "name": "Update Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Supabase PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Product Published": {
      "main": [
        [
          {
            "node": "Format Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tweet": {
      "main": [
        [
          {
            "node": "Post Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}

